
@media all and (max-device-width: 480px){
  body{
    padding: 0%;
    margin: 0%;

  }


  .weatger-app-day{/* Weather-App-Day FRAME */
  
    /* block-size: auto; */
    position: absolute;
    width: 120%;
    height: 140%;
    left: 0%;
    background-color: #272086;
    } 

  


  .graphic{

    left: 0%;
    position: absolute;
    width: 90%; 
    height: 28%;
    left: 1%;
    top: 0px;

  }

  .contenedorPanel{
    position: absolute;
    width: 80%;
    height: 46%;
    left: 6px;
    top: 279px;

    background: #FFFFFF;
    border-radius: 5%;
    box-shadow: 0px -16px 40px rgba(0, 0, 0, 0.2);
  }

  .date{
    position: absolute;
    width: 119px;
    height: 34px;
    left: 41px;
    top: 1%;
    
    font-family: Barlow;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    
    color: #999999;
  }

  .city{
    position: absolute;
    width: 38%;
    height: 15%;
    left: 173px;
    top: 1%;

    background: rgba(13, 159, 234, 0.08);

  }
  .imgIconoUbicacion{
    margin-left: 86%;
    margin-top: 10%;
  }

  .location{
    /* location */


    position: absolute;
    top: 0%;
    width: 100%;
    height: 20%;
    margin-left: -1%;
    font-family: Barlow;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    color: #0DA0EA;

  }

  .locationImg{
    position: absolute;
    width: 10%;
    height: 5%;
    margin-left: 9%;
    top: 297px;

  }


  /* /////////////////////////// */

  .panelConContenidoN1{

    position: absolute;
    width: 211%;
    height: 110%;
    left: -110%;
    top: 120%;
    background-color: #0DA0EA;
  }

  .sunnyImg{

    position: absolute;
    top: auto;
    width: 30%;
    width: 24%;
    top: 0%;

  }

  .sunnyText{
    /* Sunny */


  position: absolute;
  width: 45px;
  height: 22px;
  left: 4%;
  top: 70%;


  font-family: Barlow;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  text-align: center;
  letter-spacing: -0.05em;

  color: #000000;
  }

  .temperature{

  position: absolute;
  width: 87px;
  height: 77px;
  left: 156px;
  top: 351px;
  }

  .°c{
    /* °C */


  position: absolute;
  width: 24px;
  height: 29px;
  left: 219px;
  top: 362px;

  font-family: Barlow;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */


  color: #666666;

  }
  .text33{
    
  position: absolute;
  width: 62px;
  height: 77px;
  left: 40%;
  top: 0%;

  font-family: Barlow;
  font-style: normal;
  font-weight: 300;
  font-size: 60px;
  line-height: 77px;
  /* identical to box height */

  letter-spacing: -0.05em;

  color: #000000;
  }
  .text27{/* 27°C */


    position: absolute;
    width: 32px;
    height: 19px;
    left: 80%;
    top: 15%;
    
    font-family: Barlow;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    
    color: #666666;
  }

  .text35{/* 35°C */


    position: absolute;
    width: 33px;
    height: 19px;
    left: 80%;
    top: 50%;
    
    font-family: Barlow;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    
    color: #666666;
  }


  /* /////////////////////////// */


  .panelConContenidoN2{
    position: absolute;
    width: 211%;
    height: 110%;
    left: -110%;
    top: 280%;
    background-color: #0DA0EA;

  }

  .imghumidity{/* 027-humidity */


    position: absolute;
    width: 25%;
    height: 64%;
    left: 0%;
    top: 0%;
  }
  .humidityText1{/* Humidity */

    position: absolute;
    width: 30px;
    height: 19px;
    left: 8%;
    top: 37%;

    font-family: Barlow;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.05em;

    color: #444444;

  }

  .humidityText2{/* Humidity */


    position: absolute;
    width: 37px;
    height: 10px;
    left: 5%;
    top: 67%;
    
    font-family: Barlow;
    font-style: normal;
    font-weight: 500;
    font-size: 9px;
    line-height: 10px;
    /* identical to box height */
    
    text-align: center;
    letter-spacing: 0.1em;
    
    color: #999999;
  }

  .text49{/* 49% */


    position: absolute;
    width: 30px;
    height: 19px;
    left: 52px;
    top: 504px;
    
    font-family: Barlow;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.05em;
    
    color: #444444;}

  .pressure{/* pressure */


    position: absolute;
    width: 67px;
    height: 69px;
    left: 154px;
    top: 468px;
    }
    .imgBarometer{/* 050-barometer */


      position: absolute;
      width: 24%;
      height: 69%;
      left: 40%;
      top: 0%;
    }

    .textmbar1007{/* 1,007mBar */


      position: absolute;
      width: 67px;
      height: 19px;
      left: 40%;
      top: 25%;

      font-family: Barlow;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: -0.05em;

      color: #444444;
      }

      .pressureText{/* Pressure */


        position: absolute;
        width: 37px;
        height: 10px;
        left: 45%;
        top: 55%;

        font-family: Barlow;
        font-style: normal;
        font-weight: 500;
        font-size: 9px;
        line-height: 10px;
        /* identical to box height */

        text-align: center;
        letter-spacing: 0.1em;

        color: #999999;
      }

      .imgRafagas{

        /* 001-wind-1 */
        position: absolute;
        width: 20%;
        height: 64%;
        left: 79%;
        top: 0%;
      }
      /* 23 km/h */

      .texRafagas{

        position: absolute;
        width: 53px;
        height: 19px;
        left: 80%;
        top: 62%;

        font-family: Barlow;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: -0.05em;

        color: #444444;
      }

      .texRafagas2{

        position: absolute;
        width: 10%;
        height: 20%;
        left: 83%;
        top: 85%;

        font-family: Barlow;
        font-style: normal;
        font-weight: 500;
        font-size: 9px;
        line-height: 10px;
        /* identical to box height */

        text-align: center;
        letter-spacing: 0.1em;

        color: #999999;

      }
              



  /* /////////////////////////// */

  .panelConContenidoN3{

    position: absolute;
    width: 211%;
    height: 110%;
    left: -110%;
    top: 430%;
    background-color: #0DA0EA;
  }

  .imgSunset{
    /* 007-sunset */
      position: absolute;
      width: 25%;
      height: 54%;
      left: 0%;
      top: 0%;
  }

  .sunrise{/* sunrise */

    position: absolute;
    width: 52px;
    height: 69px;
    left: 41px;
    top: 577px;
  }

  .text6am{/* 6:03 AM */


    position: absolute;
    width: 55%;
    height: 15%;
    left: 5%;
    top: 53%;

    font-family: Barlow;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 19px;
    letter-spacing: -0.05em;

    color: #444444;
}


    .sunriseText{/* Sunrise */


      position: absolute;
      width: 10%;
      height: 20%;
      left: 8%;
      top: 77%;
      
      font-family: Barlow;
      font-style: normal;
      font-weight: 500;
      font-size: 9px;
      line-height: 10px;
      /* identical to box height */
      
      text-align: center;
      letter-spacing: 0.1em;
      
      color: #999999;
      }

    .imgSunset2{/* 008-sunrise */


      position: absolute;
      width: 25%;
      height: 54%;
      left: 40%;
      top: 0%;
    }


    .Pm7{/* 7:05 PM */

      position: absolute;
      width: 55%;
      height: 15%;
      left: 45%;
      top: 53%;

      font-family: Barlow;
      font-style: normal;
      font-weight: 500;
      font-size: 15px;
      line-height: 19px;
      letter-spacing: -0.05em;

      color: #444444;
      }


  .sunnyText2{/* Sunset */

      position: absolute;
      width: 10%;
      height: 20%;
      left: 48%;
      top: 77%;
      
      font-family: Barlow;
      font-style: normal;
      font-weight: 500;
      font-size: 9px;
      line-height: 10px;
      /* identical to box height */
      
      text-align: center;
      letter-spacing: 0.1em;
      
      color: #999999;
  }

  .dayTime{/* daytime */


    position: absolute;
    width: 41px;
    height: 69px;
    left: 287px;
    top: 577px;
    }

    .san-clock{/* sand-clock */


      position: absolute;
      width: 25%;
      height: 54%;
      left: 75%;
      top: 0%;
    }
    .m13{
      /* 13h 1m */

      position: absolute;
      width: 55%;
      height: 15%;
      left: 80%;
      top: 53%;

      font-family: Barlow;
      font-style: normal;
      font-weight: 500;
      font-size: 15px;
      line-height: 19px;
      letter-spacing: -0.05em;

      color: #444444;

    }

    .dayTimeText{/* Daytime */


      position: absolute;
      width: 10%;
      height: 20%;
      left: 81%;
      top: 80%;
      
      font-family: Barlow;
      font-style: normal;
      font-weight: 500;
      font-size: 9px;
      line-height: 10px;
      /* identical to box height */
      
      text-align: center;
      letter-spacing: 0.1em;
      
      color: #999999;
      }


  .today-row-04{

    position: absolute;
    width: 440px;
    height: 101px;
    left: 19px;
    top: 670px;
  }

  .mon{
    position: absolute;
    width: 95px;
    height: 101px;
    left: 19px;
    top: 670px;
  }
  .rectanguleMon{/* Rectangle */


    position: absolute;
    width: 95px;
    height: 101px;
    left: 19px;
    top: 670px;
    
    background: #FFFFFF;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
  }


  .mon21{/* Mon, 21 */


    position: absolute;
    width: 46px;
    height: 19px;
    left: 43px;
    top: 722px;
    
    font-family: Barlow;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.05em;
    
    color: #444444;
  }

  .sunny007{/* 007-sunny-1 */


    position: absolute;
    width: 24px;
    height: 24px;
    left: 55px;
    top: 686px;
    }

    .union{/* Union */


      position: absolute;
      left: 0%;
      right: 0%;
      top: 0%;
      bottom: 0%;
      
      background: #AAAAAA;
    }

    .°26{/* 26°C */


      position: absolute;
      width: 19px;
      height: 10px;
      left: 69px;
      top: 745px;
      
      font-family: Barlow;
      font-style: normal;
      font-weight: 500;
      font-size: 8px;
      line-height: 10px;
      /* identical to box height */
      
      text-align: center;
      letter-spacing: 0.1em;
      
      color: #999999;
    }

    .°35{/* 35°C */


      position: absolute;
      width: 19px;
      height: 10px;
      left: 37px;
      top: 745px;
      
      font-family: Barlow;
      font-style: normal;
      font-weight: 500;
      font-size: 8px;
      line-height: 10px;
      /* identical to box height */
      
      text-align: center;
      letter-spacing: 0.1em;
      
      color: #999999;
      }


  .tue{
    position: absolute;
    width: 95px;
    height: 101px;
    left: 134px;
    top: 670px;

  }
  .rectanguleTue{/* Rectangle */


    position: absolute;
    width: 95px;
    height: 101px;
    left: 134px;
    top: 670px;
    
    background: #FFFFFF;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
  }

  .tueText{/* Tue, 22 */


    position: absolute;
    width: 46px;
    height: 19px;
    left: 158px;
    top: 722px;
    
    font-family: Barlow;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.05em;
    
    color: #444444;
  }

  .tueImg{/* 014-cloudy-2 */


    position: absolute;
    width: 24px;
    height: 24px;
    left: 170px;
    top: 686px;
    }

  .°27{/* 27°C */


    position: absolute;
    width: 19px;
    height: 10px;
    left: 184px;
    top: 745px;
    
    font-family: Barlow;
    font-style: normal;
    font-weight: 500;
    font-size: 8px;
    line-height: 10px;
    /* identical to box height */
    
    text-align: center;
    letter-spacing: 0.1em;
    
    color: #999999;
  }

  .°35{/* 35°C */


    position: absolute;
    width: 19px;
    height: 10px;
    left: 152px;
    top: 745px;
    
    font-family: Barlow;
    font-style: normal;
    font-weight: 500;
    font-size: 8px;
    line-height: 10px;
    /* identical to box height */
    
    text-align: center;
    letter-spacing: 0.1em;
    
    color: #999999;
  }


  .wed{
    position: absolute;
    width: 95px;
    height: 101px;
    left: 249px;
    top: 670px;

  }
  .rectanguleWed{/* Rectangle */


    position: absolute;
    width: 95px;
    height: 101px;
    left: 249px;
    top: 670px;
    
    background: #FFFFFF;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
  }

  .wed22Text{/* Wed, 22 */


    position: absolute;
    width: 51px;
    height: 19px;
    left: 271px;
    top: 722px;
    
    font-family: Barlow;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.05em;
    
    color: #444444;
  }

  .hazyImg{/* 016-hazy */


    position: absolute;
    width: 24px;
    height: 24px;
    left: 285px;
    top: 686px;
  }

  .°29{/* 29°C */


    position: absolute;
    width: 19px;
    height: 10px;
    left: 299px;
    top: 745px;
    
    font-family: Barlow;
    font-style: normal;
    font-weight: 500;
    font-size: 8px;
    line-height: 10px;
    /* identical to box height */
    
    text-align: center;
    letter-spacing: 0.1em;
    
    color: #999999;
  }

  .°34{/* 34°C */


    position: absolute;
    width: 20px;
    height: 10px;
    left: 266px;
    top: 745px;
    
    font-family: Barlow;
    font-style: normal;
    font-weight: 500;
    font-size: 8px;
    line-height: 10px;
    /* identical to box height */
    
    text-align: center;
    letter-spacing: 0.1em;
    
    color: #999999;
  }



  .thu{
    /* no se llega a apreciar */
    position: absolute;
    width: 95px;
    height: 101px;
    left: 364px;
    top: 670px;
  }

}