
@media all and (max-device-width: 480px){
  body{
    padding: 0%;
    margin: 0% auto;
  }


  .weatger-app-day{/* Weather-App-Day FRAME */
  
    block-size: auto;
    display: block;
    padding: 0%;
    margin: 0%;
    position: absolute;
    width: 120%;
    height: 140%;
    left: -1%;
    background-color: #FFFFFF;
    } 

  
  .imgGraphic{

    position: absolute;
    width: 92%; 
    height: 28%;
    left: 0%;
    top: 0px;

  }

  .contenedorPanel{
    position: absolute;
    width: 83%;
    height: 52%;
    left: 1%;
    top: 279px;

    background: #FFFFFF;
    border-radius: 5%;
    box-shadow: 0px -16px 40px rgba(0, 0, 0, 0.2);
  }

  #date{
    position: absolute;
    width: 119px;
    height: 34px;
    left: 41px;
    top: 1%;
    
    font-family: Barlow;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    
    color: #999999;
  }

  .city{
    position: absolute;
    width: 45%;
    height: 8%;
    left: 54%;
    top: 0%;
    border-radius: 0px 10px 0px 20px;
    background: rgba(13, 159, 234, 0.08);

  }
  .imgIconoUbicacion{
    margin-left: 91%;
    margin-top: 8%;
  }

  .location{
    /* location */


    position: absolute;
    top: 0%;
    width: 100%;
    height: 20%;
    margin-left: -1%;
    font-family: Barlow;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    color: #0DA0EA;

  }

  .locationImg{
    position: absolute;
    width: 10%;
    height: 5%;
    margin-left: 9%;
    top: 297px;

  }


  /* /////////////////////////// */

  .panelConContenidoN1{

    margin-left: 10%;
    position: absolute;
    width: 211%;
    height: 200%;
    left: -125%;
    margin-top: 20%;
    background-color: #FFFFFF;
  }

  #sunnyImg{

    position: absolute;
    top: auto;
    width: 30%;
    width: 24%;
    top: 0%;

  }

  #sunnyText{
    /* Sunny */


    position: absolute;
    width: 45px;
    height: 22px;
    left: 4%;
    top: 71%;


    font-family: Barlow;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */

    text-align: center;
    letter-spacing: -0.05em;

    color: #000000;
  }

  .temperature{

    position: absolute;
    width: 87px;
    height: 77px;
    left: 156px;
    top: 351px;
  }

  .°c{
    /* °C */
    position: absolute;
    width: 15%;
    height: 35%;
    left: 55%;
    top: 14%;

    font-family: Barlow;
    font-style: normal;
    font-weight: 500;
    font-size: 10%;
    line-height: 29px;
    /* identical to box height */
    color: #666666;

  }
  #temperatura{
    
    position: absolute;
    width: 62px;
    height: 77px;
    left: 40%;
    top: 0%;

    font-family: Barlow;
    font-style: normal;
    font-weight: 300;
    font-size: 60px;
    line-height: 77px;
    /* identical to box height */

    letter-spacing: -0.05em;

    color: #000000;
  }
  #°c{
    position: absolute;
    width: 62px;
    height: 77px;
    left: 54%;
    top: 0%;

    font-family: Barlow;
    font-style: normal;
    font-weight: 300;
    font-size: 60px;
    line-height: 77px;
    /* identical to box height */

    letter-spacing: -0.05em;

    color: #000000;

  }

  #tempMax{/* 27°C */

    position: absolute;
    width: 32px;
    height: 19px;
    left: 80%;
    top: 15%;
    
    font-family: Barlow;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    
    color: #666666;
  }



  #tempMin{/* 35°C */


    position: absolute;
    width: 33px;
    height: 19px;
    left: 80%;
    top: 50%;
 
    font-family: Barlow;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    
    color: #666666;
  }


  /* /////////////////////////// */


  .panelConContenidoN2{
    margin-left: 9%;
    position: absolute;
    width: 211%;
    height: 200%;
    left: -125%;
    margin-top: 100%;
    background-color: #FFFFFF;

  }

  .imghumidity{/* 027-humidity */


    position: absolute;
    width: 25%;
    height: 64%;
    left: 0%;
    top: 0%;
  }

  #humidityText1{/* Humidity */

    position: absolute;
    width: 30px;
    height: 19px;
    left: 8%;
    top: 50%;

    font-family: Barlow;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.05em;

    color: #444444;

  }

  .humidityText2{/* Humidity */


    position: absolute;
    width: 37px;
    height: 10px;
    left: 5%;
    top: 77%;
    
    font-family: Barlow;
    font-style: normal;
    font-weight: 500;
    font-size: 9px;
    line-height: 10px;
    /* identical to box height */
    
    text-align: center;
    letter-spacing: 0.1em;
    
    color: #999999;
  }

  .text49{/* 49% */


    position: absolute;
    width: 30px;
    height: 19px;
    left: 52px;
    top: 504px;
    
    font-family: Barlow;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.05em;
    
    color: #444444;
  }

  .pressure{/* pressure */

    position: absolute;
    width: 67px;
    height: 69px;
    left: 154px;
    top: 468px;
  }
  
  .imgBarometer{/* 050-barometer */

    position: absolute;
    width: 25%;
    height: 64%;
    left: 40%;
    top: 0%;
  }

  #textPressure{/* 1,007mBar */

    position: absolute;
    width: 67px;
    height: 19px;
    left: 43%;
    top: 42%;

    font-family: Barlow;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.05em;

    color: #444444;
  }
    
  .pressureText{/* Pressure */

    position: absolute;
    width: 37px;
    height: 10px;
    left: 47%;
    top: 69%;

    font-family: Barlow;
    font-style: normal;
    font-weight: 500;
    font-size: 9px;
    line-height: 10px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.1em;

    color: #999999;
  }

  .imgRafagas{

    /* 001-wind-1 */
    position: absolute;
    width: 21%;
    height: 64%;
    left: 79%;
    top: 0%;
  }
      

  #textWind{
    /* 23 km/h */

    position: absolute;
    width: 53px;
    height: 19px;
    left: 84%;
    top: 63%;

    font-family: Barlow;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.05em;

    color: #444444;
  }

  .textWind2{

    position: absolute;
    width: 10%;
    height: 20%;
    left: 85%;
    top: 85%;

    font-family: Barlow;
    font-style: normal;
    font-weight: 500;
    font-size: 9px;
    line-height: 10px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.1em;

    color: #999999;

  }
              

  /* /////////////////////////// */

  .panelConContenidoN3{
    margin-left: 9%;
    position: absolute;
    width: 211%;
    height: 200%;
    left: -125%;
    margin-top: 182%;
    background-color: #FFFFFF;
  }

  .imgSunset{
    /* 007-sunset */
    position: absolute;
    width: 25%;
    height: 54%;
    left: 0%;
    top: 0%;
  }

  .sunrise{/* sunrise */

    position: absolute;
    width: 52px;
    height: 69px;
    left: 41px;
    top: 577px;
  }

  #sunriseHs{/* 6:03 AM */


    position: absolute;
    width: 55%;
    height: 15%;
    left: 8%;
    top: 53%;

    font-family: Barlow;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 19px;
    letter-spacing: -0.05em;

    color: #444444;
}


  .sunriseText{/* Sunrise */


    position: absolute;
    width: 10%;
    height: 20%;
    left: 7%;
    top: 77%;
    
    font-family: Barlow;
    font-style: normal;
    font-weight: 500;
    font-size: 9px;
    line-height: 10px;
    /* identical to box height */
    
    text-align: center;
    letter-spacing: 0.1em;
    
    color: #999999;
  }

  .imgSunset2{/* 008-sunrise */

    position: absolute;
    width: 25%;
    height: 54%;
    left: 36%;
    top: 0%;
  }


  #sunsetHs{/* 7:05 PM */

    position: absolute;
    width: 55%;
    height: 15%;
    left: 46%;
    top: 53%;

    font-family: Barlow;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 19px;
    letter-spacing: -0.05em;

    color: #444444;
  }


  .sunnyText2{/* Sunset */

    position: absolute;
    width: 10%;
    height: 20%;
    left: 45%;
    top: 77%;
    
    font-family: Barlow;
    font-style: normal;
    font-weight: 500;
    font-size: 9px;
    line-height: 10px;
    /* identical to box height */
    
    text-align: center;
    letter-spacing: 0.1em;
    
    color: #999999;
  }

  .dayTime{/* daytime */

    position: absolute;
    width: 41px;
    height: 69px;
    left: 287px;
    top: 577px;
    }

  .san-clock{
    /* sand-clock */

    position: absolute;
    width: 25%;
    height: 54%;
    left: 77%;
    top: 0%;
  }

  #dayTimeHs{
    /* 13h 1m */

    position: absolute;
    width: 55%;
    height: 15%;
    left: 87%;
    top: 53%;

    font-family: Barlow;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 19px;
    letter-spacing: -0.05em;

    color: #444444;

  }
  #dayTimeHs2{
    position: absolute;
    width: 55%;
    height: 15%;
    left: 92%;
    top: 53%;

    font-family: Barlow;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 19px;
    letter-spacing: -0.05em;

    color: #444444;
  }

  .dayTimeText{
    /* Daytime */

    position: absolute;
    width: 10%;
    height: 20%;
    left: 85%;
    top: 78%;
    
    font-family: Barlow;
    font-style: normal;
    font-weight: 500;
    font-size: 9px;
    line-height: 10px;
    /* identical to box height */
    
    text-align: center;
    letter-spacing: 0.1em;
    
    color: #999999;
    }

/* ////////////////////////////////// */

  .panelConContenidoN4{

    margin-left: 9%;
    position: absolute;
    width: 211%;
    height: 200%;
    left: -125%;
    margin-top: 264%;
    background-color: #FFFFFF;
  }

  .rectanguloMon{
    /* Rectangle */

    position: absolute;
    width: 95px;
    height: 101px;
    left: 0%;
    top: -7%;

    background: #FFFFFF;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    transform: rotate(0.11deg);
  }

  .mon{

    position: absolute;
    width: 95px;
    height: 101px;
    left: 19px;
    top: 670px;
  }


      
    .imgSunny007{/* 007-sunny-1 */
      
      
      position: absolute;
      width: 55%;
      height: 40%;
      left: 20%;
      top: 0%;
    }

    #date1{/* Mon, 21 */


      position: absolute;
      width: 55%;
      height: 15%;
      left: 20%;
      top: 46%;

      font-family: Barlow;
      font-style: normal;
      font-weight: 500;
      font-size: 15px;
      line-height: 19px;
      letter-spacing: -0.05em;

      color: #444444;
    }

  .union{/* Union */

    position: absolute;
    left: 0.19%;
    right: -0.19%;
    top: 0%;
    bottom: 0%;
    
    background: #AAAAAA;
    transform: rotate(0.11deg);
  }

  #tempMax1{/* 35°C */

    position: absolute;
    width: 10%;
    height: 20%;
    left: 18%;
    top: 65%;
    
    font-family: Barlow;
    font-style: normal;
    font-weight: 500;
    font-size: 9px;
    line-height: 10px;
    /* identical to box height */
    
    text-align: center;
    letter-spacing: 0.1em;
    
    color: #999999;
    }

  #tempMin1{/* 26°C */


    position: absolute;
    width: 10%;
    height: 20%;
    left: 65%;
    top: 65%;
    
    font-family: Barlow;
    font-style: normal;
    font-weight: 500;
    font-size: 9px;
    line-height: 10px;
    /* identical to box height */
    
    text-align: center;
    letter-spacing: 0.1em;
    
    color: #999999;
  }
  .flechaIzquierdaMiraAbrriba{

    /* Vector */

    position: absolute;
    left: 40%;
    right: 74.68%;
    top: 60%;
    bottom: 7.26%;

    background: #999999;
    transform: matrix(1, 0, 0, -1, 0, 0);

      
  }
  .flechaDerechaMiraAbajo{
    /* Vector */

    position: absolute;
    left: 83%;
    right: 10%;
    top: 62%;
    bottom: 1%;

    background: #999999;
    transform: matrix(1, 0, 0, -1, 0, 0);
  }

  

  .tue{
    position: absolute;
    width: 95px;
    height: 101px;
    left: 134px;
    top: 670px;

  }
  .rectanguleTue{/* Rectangle */


    position: absolute;
    width: 95px;
    height: 101px;
    left: 35%;
    top: -7%;

    background: #FFFFFF;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    transform: rotate(0.11deg);
  }

  #date2{/* Tue, 22 */


    position: absolute;
    width: 55%;
    height: 15%;
    left: 20%;
    top: 46%;

    font-family: Barlow;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 19px;
    letter-spacing: -0.05em;
  }

  .imgTue{/* 014-cloudy-2 */


    position: absolute;
    width: 55%;
    height: 40%;
    left: 20%;
    top: 10%;
    }

  #tempMax2{/* 35°C */

    position: absolute;
    width: 10%;
    height: 20%;
    left: 20%;
    top: 65%;
    
    font-family: Barlow;
    font-style: normal;
    font-weight: 500;
    font-size: 9px;
    line-height: 10px;
    /* identical to box height */
    
    text-align: center;
    letter-spacing: 0.1em;
    
    color: #999999;
    }

  #tempMin2{/* 26°C */

    position: absolute;
    width: 10%;
    height: 20%;
    left: 65%;
    top: 65%;
    
    font-family: Barlow;
    font-style: normal;
    font-weight: 500;
    font-size: 9px;
    line-height: 10px;
    /* identical to box height */
    
    text-align: center;
    letter-spacing: 0.1em;
    
    color: #999999;
  }


  .wed{

    position: absolute;
    width: 95px;
    height: 101px;
    left: 249px;
    top: 670px;

  }
  .rectanguleWed{
    /* Rectangle */


    position: absolute;
    width: 95px;
    height: 101px;
    left: 71%;
    top: -7%;

    background: #FFFFFF;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    transform: rotate(0.11deg);
  }
  #tempMax3{/* 34°C */

    position: absolute;
    width: 10%;
    height: 20%;
    left: 20%;
    top: 65%;
    
    font-family: Barlow;
    font-style: normal;
    font-weight: 500;
    font-size: 9px;
    line-height: 10px;
    /* identical to box height */
    
    text-align: center;
    letter-spacing: 0.1em;
    
    color: #999999;
    }

  #tempMin3{/* 29°C */


    position: absolute;
    width: 10%;
    height: 20%;
    left: 65%;
    top: 65%;
    
    font-family: Barlow;
    font-style: normal;
    font-weight: 500;
    font-size: 9px;
    line-height: 10px;
    /* identical to box height */
    
    text-align: center;
    letter-spacing: 0.1em;
    
    color: #999999;
  }

  #date3{
    /* Wed, 22 */

    position: absolute;
    width: 55%;
    height: 15%;
    left: 20%;
    top: 46%;

    font-family: Barlow;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 19px;
    letter-spacing: -0.05em;
  }

  .imghazy{
    /* 016-hazy */

    position: absolute;
    width: 55%;
    height: 40%;
    left: 20%;
    top: 10%;
  }

  .°29{
    /* 29°C */

    position: absolute;
    width: 19px;
    height: 10px;
    left: 299px;
    top: 745px;
    
    font-family: Barlow;
    font-style: normal;
    font-weight: 500;
    font-size: 8px;
    line-height: 10px;
    /* identical to box height */
    
    text-align: center;
    letter-spacing: 0.1em;
    
    color: #999999;
  }

  .°34{/* 34°C */

    position: absolute;
    width: 20px;
    height: 10px;
    left: 266px;
    top: 745px;
    
    font-family: Barlow;
    font-style: normal;
    font-weight: 500;
    font-size: 8px;
    line-height: 10px;
    /* identical to box height */
    
    text-align: center;
    letter-spacing: 0.1em;
    
    color: #999999;
  }



  .thu{
    /* no se llega a apreciar */
    position: absolute;
    width: 95px;
    height: 101px;
    left: 364px;
    top: 670px;
  }

}